# Application
NODE_ENV=development
PORT=3000

# API
API_VERSION=v1

# Database
# Format: postgresql://username:password@host:port/database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/taskmanager_dev"